/* Stylesheet for Mobile App */
/* Reset */
/*
font-family: 'Libre Barcode 39', cursive; Barcode!!!
font-family: 'Allerta Stencil', sans-serif; Krunker Letters!!!
font-family: 'UnifrakturMaguntia', cursive; Fancy Castle Letters!!!
*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

header img#Applogo{
    display:block;
    margin:auto;
    width:100px;
}

header h1{
    color:darkblue;
    text-align:center;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2.5em;
}

body{
    background-color:cadetblue;
}

div#container{
    width:%;
    /*border: 3px dashed orange;*/
    background-color:azure;
    animation-name:borderChange;
    animation-duration:5s;
    animation-iteration-count: infinite;
}

@keyframes borderChange {
    0% {border: 3px dashed blue;}
    20% {border: 3px dashed orange;}
    40% {border: 3px dashed red;}
    60% {border: 3px dashed green;}
    80% {border: 3px dashed yellow;}
    100% {border: 3px dashed purple;}
}

header{
    width:%;
    padding:50px;
    background-color:aquamarine;
}

header h1{
    color:mediumaquamarine;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2.5em;
}

div#content{
    width:100%;
    background-color:steelblue;
    font-family: 'UnifrakturMaguntia', cursive;
}

div#content h2{
    text-align:center;
}

div#content h4{
    text-align:center;
}


nav{
    background-color:rebeccapurple;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 25px
}

nav ul{
    list-style:none;
}

nav ul li a{
    float:left;
    display:block;    
    padding: 10px 10px;
    border-left: 2px inset #000;
    border-right: 2px inset #000;
    color:ghostwhite;
    text-decoration:none;
    
}
nav ul li a:hover{
    background-color:red;
    color:black;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    vertical-align:bottom;
    background-color:cornflowerblue;
}

div.keepOpen{
    clear:both;
}

@media screen and (max-width: 1050px) {
    div#container{
        width:%;
    }
    nav ul li a{
        float:none;
        text-align:center;
    }
}

legend, span {
    display:block;
	margin:auto;
	text-align:center;
    font-family: 'Allerta Stencil', sans-serif;
	color:red;
}
input, textarea{
    display:block;
	margin:auto;
	text-align:center;
}

.icon-bar {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#555;
    overflow:auto;
}

.icon-bar a {
    float:left;
    width:20%;
    text-align:center;
    padding:12px 0;
    transition: all 0.3s ease;
    color:white;
    font-size:36px;
}

.icon-bar a:hover {
    background-color:#000;
}

.active {
    background-color:#ffa20e;
}
img{
        max-width:100%;
        height:auto;
        width:auto;
}